apiVersion: v1
kind: Service
metadata:
  name: gitops-demo-service
  labels:
    app: gitops-demo
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: gitops-demo