apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitops-demo
  labels:
    environment: dev
spec:
  replicas: 1
  template:
    metadata:
      labels:
        environment: dev
    spec:
      containers:
      - name: gitops-demo
        env:
        - name: APP_ENVIRONMENT
          value: "development"
        - name: SPRING_PROFILES_ACTIVE
          value: "dev"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"