apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitops-demo
spec:
  replicas: 3
  template:
    spec:
      containers:
      - name: gitops-demo
        env:
        - name: APP_ENVIRONMENT
          value: "staging"
        - name: SPRING_PROFILES_ACTIVE
          value: "staging"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"